@CHARSET "UTF-8";

#tb1 {
	margin: auto;
	margin-top: 10px;
	border-radius: 10px;
	border: 1px solid rgb(255, 160, 120);
	width: 80%;
	height: 80%;
}

#tb1 th, td {
	border: 1px solid rgb(255, 160, 120);
	text-align: center;
}

#tb1 th {
	border-top: hidden;
}

#tb1 th, td {
	border-bottom: hidden;
}

#tb1 th:first-child, td:first-child {
	border-left: hidden;
}

#tb1 th:last-child, td:last-child {
	border-right: hidden;
}